/* 
============
Goggle font 
============
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@300;400;500&display=swap");

:root {
  --background-clr: #f5f5f5;
  --btn-clr: #babbc7;
  --active-btn-clr: #78828b;
  --white-clr: #ffffff;
  --black-clr: #3b3b3b;
}

/* 
============
Global variables 
============
*/

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border-box protext from making width depending on padding and borer size */
}

body {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

button {
  background: transparent;
  cursor: pointer;
  border: transparent;
  /* color: red; */
  color: var(--white-clr);
  transition: all 0.2s;
}

button:hover {
  background: var(--black-clr);
}

/* Slider */
/* main {
  width: 100%;
  height: 100vh;
  background: var(--background-clr);
  display: grid;
  place-items: center;
}

.slider {
  border: 2px solid red;
  max-width: 80%;
  height: 65%;
}
.slide-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.single-slide {
  border: 3px solid blue;
} */
/* dot */

/* btn */
/* .btn-container {
  border: 1px solid black;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 1rem;
  font-size: 2rem;
} */
img {
  /* width: 20rem; */
}

/* 수정 */
main {
  width: 100%;
  height: 100vh;
  background: var(--background-clr);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  width: 60%;
  height: 65%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-items: center;
}

/* slide-container */
.slide-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.single-slide {
  display: none;
}
.active {
  display: block;
}
.single-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.single-slide .title {
  /* border: 1px solid black; */
  color: var(--white-clr);
  position: absolute;
  top: 0%;
  width: 100%;
  text-align: center;
  /* right: 50%; */
  font-size: 10rem;
  letter-spacing: 1rem;
}

.page {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: var(--white-clr);
}
/* single-slide active */

/* dots-container */
.dots-container {
  height: auto;
}
.dot {
  width: 0.7rem;
  height: 0.7rem;
  background: var(--btn-clr);
  display: inline-block;
  border-radius: 100%;
  cursor: pointer;
}

/* btn container */
/* .btn-container {
  border: 1px solid black;
  position: absolute;
  top: 0;
} */
/* btncontainer가 꼭 필요한가...? */
.btn {
  font-size: 2rem;
  padding: 0.5rem;
}
.prev-btn {
  position: absolute;
  left: 0;
}
.next-btn {
  position: absolute;
  right: 0;
}
